@import "tailwindcss";

@config "../tailwind.config.ts";

:root {
  --font-sans: "Roboto", sans-serif;
  --background: oklch(92.2% 0 0);
  --foreground: oklch(22.21% 0 0);
  --text-muted: hsl(0, 0%, 40%);
  --heroui-primary: 0 0% 90%;
  --heroui-primary-foreground: 0 0% 20%;
  --heroui-secondary: 0 0% 20%;
  --heroui-secondary-foreground: 0 0% 100%;
}

.dark {
  --background: oklch(22.21% 0 0);
  --foreground: oklch(92.2% 0 0);
  --text-muted: hsl(0, 0%, 60%);
  --heroui-primary: 220 90% 66%;
  --heroui-primary-foreground: 0 0% 100%;
  --heroui-secondary: 210 40% 100%;
  --heroui-secondary-foreground: 0 0% 20%;
}

html,
body {
  font-family: var(--font-sans);
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}

.text-muted {
  color: var(--text-muted);
}

.container {
  @apply mx-auto px-4;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  scroll-margin-top: 6rem;
}
