@import "tailwindcss";

@config "../tailwind.config.ts";

:root {
  --font-sans: "Roboto", sans-serif;
  --background: hsl(0, 0%, 95%);
  --foreground: hsl(0, 0%, 0%);
  --text-muted: hsl(0, 0%, 40%);
  --heroui-primary: 0 0% 90%;
  --heroui-primary-foreground: 0 0% 20%;
  --heroui-secondary: 0 0% 20%;
  --heroui-secondary-foreground: 0 0% 100%;
}

.dark {
  --background: hsl(0, 0%, 15%);
  --foreground: hsl(0, 0%, 100%);
  --text-muted: hsl(0, 0%, 60%);
  --heroui-primary: 220 90% 66%;
  --heroui-primary-foreground: 0 0% 100%;
  --heroui-secondary: 210 40% 100%;
  --heroui-secondary-foreground: 0 0% 20%;
}

html,
body {
  font-family: var(--font-sans);
  @apply bg-background text-foreground;
}

.text-muted {
  color: var(--text-muted);
}

.container {
  @apply mx-auto px-4;
}
